@import url(Fonts.css);
@import url(Navbar.css);
@import url(Banner.css);
@import url(Catalog.css);
@import url(Footer.css);
@import url(Products.css);
@import url(Skeleton.css);
@import url(Error.css);

*,*::before, *:after{   
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
} 

:root {
    --main-color: #151515;
    --secondory-color: #ffffff;
    --background-card: #1f1e1e;
    --light-gray: #d3d3d3;
    --main-font: 'Helvetica';
    --secondory-font: 'Y2K'
}

html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 0;
    background-color: var(--main-color);
    font-family: var(--main-font);
}



.container{
    max-width: 1200px;
    margin: 0 auto;
}

.link{
    text-decoration: none;
}

h1, h2, h3, h4, p{
    color: var(--secondory-color);
}

h1{
    font-size: 35px;
    padding-top: 20px; 
    padding-bottom: 20px;
    margin-top: 25px;
    text-align: center;  
}

p{
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.informations{
    display: flex;
    justify-content: center;
}

.information{
    max-width: 800px;
    margin-left: 10px;
    margin-right: 10px;
}


@media screen and (max-width: 980px){ 
    p{
        font-size: 18px;
    }
}

@media screen and (max-width: 768px){
    h1{
        font-size: 30px;
    }

    p{
        font-size: 15px;
    }
}



