@font-face {
    font-family: Helvetica;
    font-weight: 700;
    src: url(/fonts/helvetica_bold.otf);
}

@font-face {
    font-family: Helvetica;
    font-weight: 400;
    src: url(/fonts/helvetica_regular.otf);
}