.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--secondory-color);
    font-family: var(--main-font);
    border-top: 2px solid var(--secondory-color);
}

.footer__links{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__link{
    margin-left: 15px;
    margin-right: 15px;
}


.footer__link img{
    width: 40px;
}

.footer__info{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}